.navigation {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #191818; // Light background color

  .logo-container {
    flex: 1;
    text-align: left;
    padding: 25px;

    .logo {
      width: 30px;
      height: 100%;
      fill: rgb(0, 122, 255); // Blue logo color
    }
  }

  .nav-links-container {
    flex: 2;
    text-align: right;
    padding: 25px;

    .nav-link {
      color: #ffffff; // Dark gray color
      font-size: 1rem; // Uniform font size
      text-transform: none; // No text transformation
      font-weight: 500; // Medium font weight
      margin: 0 1rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgb(0, 122, 255); // Blue hover color
      }
    }
  }
}
